{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %} 
<div class="container">
<div class="row justify-content-center align-items-center mt-5">
    <div class="col-lg-6">
    <div class="hero-text">
       <h2 class="text-center lh-lg">A safe space for dogs to<br>
        run, sniff, climb and<br>
        explore!</h2>
        <div class="text-center mt-4">
            <a href="{% url 'account_signup' %}" class="btn btn-custom p-2 px-4 mb-4">Sign Up!</a>
        </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="hero-img text-center mb-5">
        <img class="img-fluid hero-image" src="{% static 'images/hero-beagle.png' %}" alt="beagle and ball">
    </div>
    </div>
</div>
</div>
<div class="container about mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="section-content text-center rounded-30">
                <h2 class="section-title" id="about">About</h2>
                <img src="{% static 'images/dog_jump_log.webp' %}" alt="dog jumping log" class="img-fluid mx-auto section-img my-4 mb-4">
                <p class="text-center section-p mb-4">Doggo ipsum vvv long woofer doggo woofer smol borking doggo with a long snoot for
                    pats pats, big ol pupper very jealous
                    pupper you are doing me the shock heck, doing me lotsa pats puggorino bork, porgo.</p>
            </div>
        </div>
    </div>
    <div class="row mx-auto w-75 text-center">
        <div class="list-left col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">5 acres of safe space</li>
                <li class="mb-1">Mixed woodland & grass</li>
                <li class="mb-1">Seating areas</li>
            </ul>
        </div>
        <div class="list-right col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">Fresh water fountains</li>
                <li class="mb-1">Sand pit for digging</li>
                <li class="mb-1">Café onsite</li>
            </ul>
        </div>
    </div>
</div>
<div class="container safety my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="section-content text-center rounded-30">
                <h2 class="section-title" id="safety">Safety</h2>
                <img src="{% static 'images/beagle_collie.webp' %}" alt="collie and beagle dog"
                    class="img-fluid mx-auto section-img my-4 mb-4">
                <p class="text-center section-p mb-4">Floofs extremely cuuuuuute mlem borkdrive very taste wow, big ol long water
                    shoob. Length boy very jealous pupper
                    pupperino borkf length boy extremely cuuuuuute ur givin me a spook lotsa pats, tungg wrinkler you
                    are doing me the shock
                    maximum borkdrive very taste wow.</p>
            </div>
        </div>
    </div>
    <div class="row mx-auto w-75 text-center">
        <div class="list-left col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">Fully enclosed 6ft fence</li>
                <li class="mb-1">Secure entrance/exit</li>
                <li class="mb-1">No toxic plants or trees</li>
            </ul>
        </div>
        <div class="list-right col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">Time booked is yours alone</li>
                <li class="mb-1">Perfect for recall training</li>
                <li class="mb-1">Park inspected twice daily</li>
            </ul>
        </div>
    </div>
</div>
<div class="container benefits my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="section-content text-center rounded-30 mt-4 mb-4">
                <h2 class="section-title" id="benefits">Benefits</h2>
                <img src="{% static 'images/sleepy_dog.webp' %}" alt="dog sleeping" class="img-fluid mx-auto section-img my-4 mb-4">
                <p class="text-center section-p mb-4">Floofs extremely cuuuuuute mlem borkdrive very taste wow, big ol long water
                    shoob. Length boy very jealous pupper
                    pupperino borkf length boy extremely cuuuuuute ur givin me a spook lotsa pats, tungg wrinkler you
                    are doing me the shock
                    maximum borkdrive very taste wow.</p>

            </div>
        </div>
    </div>
    <div class="row mx-auto w-75 text-center">
        <div class="list-left col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">Let your dog do what they do best</li>
                <li class="mb-1">Decrease reactivity</li>
                <li class="mb-1">Improve recall skills safely</li>
            </ul>
        </div>
        <div class="list-right col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">Keep your dog at a healthy weight</li>
                <li class="mb-1">Trim nails naturally</li>
                <li class="mb-1">Strengthen your bond</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
