{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %} 
<div class="container">
<div class="row justify-content-center align-items-center mt-5">
    <div class="col-lg-6">
    <div class="hero-text">
       <h1 class="text-center lh-lg">A safe space for dogs to<br>
        run, sniff, climb and<br>
        explore!</h1>
        <div class="text-center mt-4">
            <a href="{% url 'account_signup' %}" class="btn btn-custom p-2 px-4 mb-4">Sign Up</a>
        </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="hero-img text-center mb-5">
        <img class="img-fluid hero-image" src="{% static 'images/hero-beagle.png' %}" alt="beagle and ball">
    </div>
    </div>
</div>
</div>
<div class="container about mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="section-content text-center rounded-30">
                <h2 class="section-title" id="about">About</h2>
                <img src="{% static 'images/dog_jump_log.webp' %}" alt="dog jumping log" class="img-fluid mx-auto section-img my-5">
                <p class="text-center section-p mb-5">FreeFido is a dog park with a difference, acres of nature just for you and your dogs. At our private dog park, you'll find various amenities designed to enhance your visit.
                     We provide shaded areas and water stations throughout the park, ensuring your dogs stay hydrated and comfortable even on warm days. You can relax and unwind in designated seating areas (with a yummy coffee from our coffee hut!)
                     and allow your dog to run and play freely, promoting their physical fitness and overall well-being. Come and <a href="{% url 'visit_us' %}" id="section-visit">visit</a> us just outside of Mullingar, Co.Westmeath.</p>
            </div>
        </div>
    </div>
    <div class="row mx-auto w-75 text-center">
        <div class="list-left col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">5 acres of safe space</li>
                <li class="mb-1">Mixed woodland & grass</li>
                <li class="mb-1">Seating areas</li>
            </ul>
        </div>
        <div class="list-right col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">Fresh water fountains</li>
                <li class="mb-1">Sand pit for digging</li>
                <li class="mb-1">Café onsite</li>
            </ul>
        </div>
    </div>
</div>
<div class="container safety my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="section-content text-center rounded-30">
                <h2 class="section-title" id="safety">Safety</h2>
                <img src="{% static 'images/beagle_collie.webp' %}" alt="collie and beagle dog"
                    class="img-fluid mx-auto section-img my-5">
                <p class="text-center section-p mb-5">At Freefido, safety is of utmost importance to us. As you build a connection with your dog, positive interaction is key. 
                    In our private, fully-fenced dog park, you can book a time that is yours alone knowing that there will be no escapes or concerns as our parks entrance is fully monitored.
                    Additionally, we only allow registered members and their dogs inside the
                    park, guaranteeing a controlled and safe environment. <a href="{% url 'account_signup' %}" id="section-signup">Join</a> us today and make a booking!</p>
            </div>
        </div>
    </div>
    <div class="row mx-auto w-75 text-center">
        <div class="list-left col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">Fully enclosed 6ft fence</li>
                <li class="mb-1">Secure entrance/exit</li>
                <li class="mb-1">No toxic plants or trees</li>
            </ul>
        </div>
        <div class="list-right col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">Time booked is yours alone</li>
                <li class="mb-1">Perfect for recall training</li>
                <li class="mb-1">Park inspected twice daily</li>
            </ul>
        </div>
    </div>
</div>
<div class="container benefits my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="section-content text-center rounded-30 mt-4 mb-4">
                <h2 class="section-title" id="benefits">Benefits</h2>
                <img src="{% static 'images/sleepy_dog.webp' %}" alt="dog sleeping" class="img-fluid mx-auto section-img my-5">
                <p class="text-center section-p mb-5">Come and let your dog run and sniff in a safe environment that benefits both their mental and physical health. Dogs <em class="section-em">need</em> to sniff and we guarantee that 
                    our park will provide them with all of the stimulation that they need. Bring some treats, or pick some up from our coffee hut, and work on your dogs recall. Spend time with your dog off leash
                     and strengthen your bond with some playtime. Check out our <a href="{% url 'articles' %}" id="section-articles">articles</a> section and discover some new tips or share your training wisdom with other park users.
                </p>

            </div>
        </div>
    </div>
    <div class="row mx-auto w-75 text-center">
        <div class="list-left col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">Let your dog do what they do best</li>
                <li class="mb-1">Decrease reactivity</li>
                <li class="mb-1">Improve recall skills safely</li>
            </ul>
        </div>
        <div class="list-right col-md-6 mb-3 d-flex justify-content-center">
            <ul class="section-list">
                <li class="mb-1">Keep your dog at a healthy weight</li>
                <li class="mb-1">Trim nails naturally</li>
                <li class="mb-1">Strengthen your bond</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
