{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Gallery{% endblock %}

{% block content %}


<div class="container my-4 text-center">
    <h1 class="section-title mb-4" id="benefits">Gallery</h1>
</div>
<!-- carousel of images changing every 3 seconds and buttons for user to change the images -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner mb-4">
                    <div class="carousel-item active">
                        <img src="{% static 'images/two_dogs_run.webp' %}" class="d-block w-100 h-auto" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/lab_smalldog.webp' %}" class="d-block w-100 h-auto" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/snow_dogs.webp' %}" class="d-block w-100 h-auto" alt="">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    
    <!-- upload image button -->
    <div class="container text-center">
        {% if user.is_authenticated %}
        <a href="{% url 'add_photo' %}" class="btn btn-custom-form my-4">
            + Upload Image
        </a>
        {% endif %}
    </div>


    <div class="row mt-4">
        {% for gallery_post in gallery_posts %}
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
            <div class="image-container">
                <img src="{{ gallery_post.photo.url }}" alt="{{ gallery_post.image_alt }}" class="gallery-image">
                <div class="image-overlay">
                    {% if user.is_authenticated and gallery_post.photo_by == user %}
                    <form method="POST" action="{% url 'delete_photo' pk=gallery_post.pk %}" class="delete-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger delete-button">Delete</button>
                    </form>
                    {% endif %}
                    <h3 class="image-title">{{ gallery_post.title }}</h3>
                    <p class="image-info"> <em>{{ gallery_post.image_description }}</em></p>
                    <p class="image-info"><strong>Posted by:</strong> {{ gallery_post.photo_by }}</p>
                    <p class="image-info"><strong>{{ gallery_post.posted_on }}</strong></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


<!-- 
    <div class="row mt-4">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="{% static 'images/placeholder_img.png' %}" class="img-fluid rounded-image" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="{% static 'images/placeholder_img.png' %}" class="img-fluid rounded-image" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="{% static 'images/placeholder_img.png' %}" class="img-fluid rounded-image" alt="">
        </div>
    </div>
</div> -->

{% endblock %}