{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Booking{% endblock %}

{% block content %}

<h1 class="text-center">Edit Booking</h1>
<form method="POST" enctype="multipart/form-data" class="p-2 form">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger text-center w-75 mx-auto my-3" role="alert">
        <em>This date and time combination is unavailable, please choose again.<em>
    </div>
    {% endif %}
    <div class="row mx-auto">
        <div class="col m-4">
            <h4 class="text-center mb-2">Your Details</h4>
            {{ form.first_name|as_crispy_field }}
            {{ form.last_name|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            {{ form.dog_name|as_crispy_field }}
            {{ form.breed|as_crispy_field }}
            {{ form.color|as_crispy_field }}
            {{ form.is_vaccinated|as_crispy_field }}
            {{ form.gender|as_crispy_field }}
        </div>
        <div class="col m-4">
            <h4 class="text-center mb-2">Choose Date & Time</h4>
            {{ form.date|as_crispy_field }}
            {% if form.date.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.date.errors|safe }}
            </div>
            {% endif %}
            {{ form.time|as_crispy_field }}
            {% if form.time.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.time.errors|safe }}
            </div>
            {% endif %}
        </div>
        <div class="col m-4">
            <h4 class="text-center mb-2">Book a second dog?<em>(Optional)</em></h4>
            <div class="mx-auto text-center" id="dog2_section">
                {{ form.dog_name2|as_crispy_field }}
                {{ form.breed2|as_crispy_field }}
                {{ form.color2|as_crispy_field }}
                {{ form.is_vaccinated2|as_crispy_field }}
                {{ form.gender2|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary mt-2">Edit Booking</button>
    </div>
</form>

{% endblock %}