{% extends 'base.html' %}

{% load static %}

{% block title %}Bookings{% endblock %}

{% block content %}

<div class="container my-4 text-center">
    <div class="row align-items-center">
        <div class="col-md-6 offset-md-3">
            <h1 class="section-title mb-5" id="booking">Booking</h1>
        </div>
        <div class="col-md-3 text-md-end">
            <a href="{% url 'booking_create' %}" class="my-4" title="Make a Booking">
                <img src="{% static '../static/icons/add_booking.png' %}" alt="add booking" class="add-photo-btn add-booking-btn">
            </a>
        </div>
    </div>
{% if request.user.bookings.all %}
<div class="text-center w-75 mx-auto my-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Booking Date</th>
                <th>Booking Time</th>
                <th>Dog Name</th>
                <th>Second Dog Name</th>
                <th>Edit/Delete Booking</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in request.user.bookings.all %}
            <tr>
                <td>{{ booking.date }}</td>
                <td>{{ booking.time }}</td>
                <td>{{ booking.dog_name }}</td>
                <td>{{ booking.dog_name2 }}</td>
                <td>{% if request.user == booking.user %}
                    <div class="text-center">
                        <div class="d-flex">
                            <div class="col">
                                <a href="{% url 'booking_edit' booking.id %}" class="btn btn-link" title="Edit Booking"><img
                                        src="{% static '../static/icons/edit_booking.png' %}" alt="edit booking"
                                        class="icon-delete-btn"></a>
                            </div>
                            <div class="text-center">
                                <div class="col">
                                    <a href="{% url 'booking_delete' booking.id %}" class="btn btn-link" title="Delete Booking"><img
                                            src="{% static '../static/icons/delete_booking.png' %}" alt="delete booking"
                                            class="icon-delete-btn"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


{% endblock %}