{% extends 'base.html' %}

{% load static %}

{% block title %}Create a Booking{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="text-center">
<h1 class="text-center mx-auto section-title" id="booking">Create Booking</h1>
<form method="post" class="text-center w-75 mx-auto booking-section">
    {% csrf_token %}
    <div class="row mx-auto">
        <div class="col m-4">
            <h4 class="text-center mb-2">Your Details</h4>
            {{ form.first_name|as_crispy_field }}
            {{ form.last_name|as_crispy_field}}
            {{ form.email|as_crispy_field }}
            {{ form.dog_name|as_crispy_field }}
            {{ form.breed|as_crispy_field }}
            {{ form.color|as_crispy_field }}
            {{ form.is_vaccinated|as_crispy_field }}
            {{ form.gender|as_crispy_field }}
        </div>
        <div class="col m-4">
            <h4 class="text-center mb-2">Choose Date & Time</h4>
            {{ form.date|as_crispy_field }}
            {{ form.time|as_crispy_field }}
        </div>
        <div class="col m-4">
        <h4 class="text-center">Book a second dog?<em>(Optional)</em></h4>
        <div class="mx-auto text-center" id="dog2_section">
            {{ form.dog_name2|as_crispy_field }}
            {{ form.breed2|as_crispy_field }}
            {{ form.color2|as_crispy_field }}
            {{ form.is_vaccinated2|as_crispy_field }}
            {{ form.gender2|as_crispy_field }}
        </div>
        </div>
    </div>
    <button type="submit" class="btn btn-custom booking-btn">Create</button>
</form>
</div>



{% endblock %}