{% extends 'base.html' %}

{% load static %}

{% block title %}Profile - {{profile.user.username|default:'User' }}{% endblock %}

{% block content %}

<div class="container p-4">
    <div class="row">
        {% if profile %}
        <!-- profile left side on tablets/large screens -->
        <div class="col-lg-5">
            <div class="profile">
                <div class="profile-info text-center">
                    <div class="mb-4">
                        {% if profile.image.url is not none %}
                        <img class="profile-img rounded-circle" src="{{ profile.image.url }}"
                            alt="{{ profile.user.username }}'s profile image">
                        {% else %}
                        <img class="profile-img rounded-circle" src="{% static 'icons/tennis-ball.png' %}"
                            alt="Image not found icon">
                        {% endif %}
                    </div>
                    {% if request.user == profile.user %}
                    <button id="myBtn" class="btn edit-button btn btn-link my-2">
                        <img src="{% static 'icons/edit_profile.png' %}" alt="edit profile" class="icon-delete-btn">
                    </button>
                    {% endif %}
                    <h1 class="text-center section-title" id="auth">{{ profile.user.username }}</h1>
                    <p class="section-p my-2"><strong class="profile-strong">Joined:
                        </strong>{{profile.user.date_joined|date:'d M Y' }}</p>
                    <p class="section-p"><strong class="profile-strong">Articles:
                        </strong>{{profile.user.article_posts.count }}</p>
                    {% if profile.bio is not none %}
                    <p class="section-title my-2" id="auth">Bio: </p>
                    <p class="section-p w-25">{{ profile.bio|safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- profile right side on tablets/large screens -->
        <div class="col-lg-5 offset-lg-2 text-center mt-5">
            <h2 class="text-center section-title mb-4" id="auth">Latest Articles</h2>
            <div class="profile-articles text-center mb-2 p-2">
                {% for article in profile.user.article_posts.all %}
                <a href="{% url 'article_page' article.slug %}">
                    <h3 class="special-anchor-article">{{ article.title }}</h3>
                </a>
                <p>{{ article.created_on|date:'d M Y' }}</p>
                {% endfor %}
            </div>
            <hr class="my-2">
            <!-- <img src="{% static '../static/icons/tennis-ball.png' %}" alt="hr-tennis ball" class="mx-auto my-3 hr-special"> -->
            <h2 class="text-center section-title my-3" id="booking">Active Bookings</h2>
            {% if bookings %}
            <div class="table-responsive text-center my-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Booking Date</th>
                            <th>Booking Time</th>
                            <th>Dog Name</th>
                            <th>Second Dog Name</th>
                            <th>Edit/Delete Booking</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in profile.user.bookings.all %}
                        <tr>
                            <td>{{ booking.date }}</td>
                            <td>{{ booking.time }}</td>
                            <td>{{ booking.dog_name }}</td>
                            <td>{{ booking.dog_name2 }}</td>
                            <td>
                                {% if request.user == booking.user %}
                                <div class="text-center">
                                    <div class="d-flex">
                                        <div class="col">
                                            <a href="{% url 'booking_edit' booking.id %}" class="btn btn-link"
                                                title="Edit Booking">
                                                <img src="{% static 'icons/edit_booking.png' %}" alt="edit booking"
                                                    class="icon-delete-btn">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a href="{% url 'booking_delete' booking.id %}" class="btn btn-link"
                                                title="Delete Booking">
                                                <img src="{% static 'icons/delete_booking.png' %}" alt="delete booking"
                                                    class="icon-delete-btn">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-center mx-auto w-50">You have no active bookings.</p>
            {% endif %}
        </div>
        {% else %}
        <p class="text-center mx-auto w-50">No profile information available.</p>
        {% endif %}

    </div>

    <!-- modal code from W3Schools -->
    <div id="myModal" class="modal mt-5">

        <!-- modal content -->
        <div class="modal-content container text-center shadow w-75">
            <span class="close fs-1 pe-2 position-absolute top-0 end-0 font-weight-bold">&times;</span>
            <form method="POST" action="{% url 'profile_edit' request.user.id %}" class="mb-2 p-2"
                enctype="multipart/form-data">
                <h2 class="text-center section-title fs-4 mb-4" id="auth">Edit Profile</h2>
                {% csrf_token %}
                {{ form|crispy }}
                {{ form.media }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-custom-form">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    // Get the modal - W3Schools
    const modal = document.getElementById("myModal");

    // Get the button that opens the modal
    const btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}