@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&family=Outfit:wght@200;400;600;700&display=swap');

:root {
    /* fonts */
    --title: 'Outfit', sans-serif;
    --main-font: 'Montserrat', sans-serif;

    /* colors */
    --white: #ffffff;
    --black: #0d0d0d;
    --purple: #ac44f2;
    --green: #3bd952;
    --orange: #f29f05;
    --coral: #f25c5c;
    --blue: #4ce0c3;

    /* utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: ;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

a {
    text-decoration: none;
}

em {
    font-size: medium;
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

#id_first_name,
#id_last_name,
#id_email,
#id_dog_name,
#id_color,
#id_date,
#id_dog_name,
#id_color2 {
    text-align: center;
}

select {
    text-align: center;
}

/* is_vaccinated checkbox styling */
.form-check .form-check-input {
    float: none;
    margin-left: -1.5em;
    margin-right: 1em;
}

/* footer */
footer {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-bg {
    background-image: url('/../static/images/footer_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 140px;
    display: flex;
    justify-content: flex-end;
}

/* .hours {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 1.5rem;
}

.hours-title {
    font-family: Outfit, sans-serif;
    font-weight: 600;
    text-align: center;
} */

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.social-icon {
    height: 1.5rem;
    margin: 1rem;
}

/* header */
.navbar {
    background-color: var(--white);
}

.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo {
    height: 100px;
    width: auto;
    padding-top: 10px;
    margin-left: 10px;
}

.nav-icons {
    height: 70px;
    width: 70px;
    margin-right: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s ease;
}

.nav-icons:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
}

.nav-icons:active {
    transform: scale(0.9);
}

/* img.logo {
    width: ; */

.active {
    font-weight: 400;
}

/* hero section */


/* forms */

.form {
    width: 50%;
    margin: 1% auto;
    border-radius: 20px;
}

/* Override crispy forms/bootstrap styling */
#id_first_name,
#id_last_name,
#id_email,
#id_dog_name,
#id_color,
#id_date,
#id_dog_name,
#id_color2 {
    text-align: center;
}

.form-control {
    background-color: #d3d3d3;
    border: none;
    border-radius: 8px 0 8px 0;
}

.form-select {
    background-color: #d3d3d3;
    border: none;
    border-radius: 8px 0 8px 0;
}

.form-check .form-check-input {
    float: none;
    margin-left: -1.5em;
    margin-right: 1em;
}

.form-check-input {
    background-color: #d3d3d3;
    border: none;
}

/* icons */

.like-icon {
    width: 30px;
    height: 30px;
    margin: 6px
}

.like-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.comment-icon {
    width: 30px;
    height: 30px;
    margin: 6px;
}

.like-num {
    font-weight: bold;
    color: var(--black);
}

/* article 'cards' */

.article-img {
    border-radius: 20px;
    object-fit: cover;
    height: 400px;
    width: 550px;
}

.card {
    --bs-card-border-width: 0px;
}

.card-img-top {
    border-radius: 20px;
    object-fit: contain;
    height: 300px;
    width: 450px;
}

.jumboimage {
    height: 400px;
    width: 650px;
    overflow: hidden;
}

/* alert messages */

.alert-dismissible .btn-close {
    padding: 0.8rem 1rem;
}

.debug-alert {
    background-color: #c79be4;
    border: 1px solid var(--purple);
    border-radius: 4px;
    padding: 10px;
}

.info-alert {
    background-color: #ebc275;
    border: 1px solid var(--orange);
    border-radius: 4px;
    padding: 10px;
}

.success-alert {
    background-color: #7ad187;
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 10px;
}

.warning-alert {
    background-color: #9deede;
    border: 1px solid var(--blue);
    border-radius: 4px;
    padding: 10px;
}

.error-alert {
    background-color: #ee8a8a;
    border: 1px solid var(--coral);
    border-radius: 4px;
    padding: 10px;
}

.alert-danger {
    background-color: #ee8a8a;
    border: 1px solid var(--coral);
    border-radius: 4px;
    padding: 10px;
}

/* images */

#dogpark_lady {
    border-radius: 20px;
    height: 450px;
    width: 300px;
}

.carousel-inner {
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
}

.profile-img {
    border-radius: 50px;
}

.image-container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .image-overlay {
    opacity: 1;
}

.image-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.image-info {
    font-size: 14px;
}

/* media queries */

/* footer media query */
@media (max-width: 767.98px) {
    .footer-bg {
        justify-content: center;

    }

    .social-icon {
        height: 1.25rem;
        margin: .75rem;
    }
}