@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&family=Outfit:wght@200;400;600;700&display=swap');

:root {
    /* fonts */
    --title: 'Outfit', sans-serif;
    --main-font: 'Montserrat', sans-serif;

    /* colors */
    --white: #ffffff;
    --black: #0d0d0d;
    --purple: #ac44f2;
    --green: #3bd952;
    --orange: #f29f05;
    --coral: #f25c5c;
    --blue: #4ce0c3;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

a {
    text-decoration: none;
}

em {
    font-size: medium;
}

strong {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* filter back shadow for images */
.img-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* target the anchor tags within the allauth template html */
.special-anchor {
    color: var(--purple);
}

.special-anchor-article {
    color: var(--black);
    font-weight: bold;
    z-index: 3;
}

hr {
    border-top: 2px dashed #0d0d0d;
}

.hr-special {
    display: block;
    width: 45px;
    height: auto;
    margin: 20px 0;
    border: none;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

label,
em {
    font-size: 18px;
}

/* Scrollbar styling - credit: W3 schools -> https: //www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar2 */
/* width */
::-webkit-scrollbar {
    width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(176, 209, 195, 0.644) 0%, rgba(125, 94, 145, 0.541) 100%);
    border-radius: 10px;
    height: 50px;
}

#id_first_name,
#id_last_name,
#id_email,
#id_dog_name,
#id_color,
#id_date,
#id_dog_name,
#id_color2 {
    text-align: center;
}

select {
    text-align: center;
}

.richtextwidget {
    border-radius: 20px;
}


/* is_vaccinated checkbox styling */
.form-check .form-check-input {
    float: none;
    margin-left: -1.5em;
    margin-right: 1em;
    color: #0d0d0d;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 200px;
}

.footer-img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

/* .footer-bg {
    background-image: url('/static/images/footer-wave.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 200px;
    display: flex;
    justify-content: flex-end;
} */

/* .hours {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 1.5rem;
}

.hours-title {
    font-family: Outfit, sans-serif;
    font-weight: 600;
    text-align: center;
} */

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.social-icon {
    height: 1.5rem;
    margin: 1rem;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

/* header */
.navbar {
    background-color: var(--white);
}

.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo {
    height: 100px;
    width: auto;
    padding-top: 10px;
    margin-left: 10px;
}

.nav-icons {
    height: 70px;
    width: 70px;
    margin-right: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s ease;
}

.nav-icons:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
}

.nav-icons:active {
    transform: scale(0.9);
}

.custom-toggler {
    padding: 10px 15px;
    font-size: 20px;
    background-color: #b163e52e;
    border: none;
    border-radius: 5px;
}

/* img.logo {
    width: ; */

.active {
    font-weight: 400;
}

/* hero section */
.hero-image {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-custom {
    background-color: #b163e5;
    background-size: cover;
    border-radius: 50px;
    font-family: var(--title);
    font-weight: 700;
    font-size: 28px;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    /* transform point to assist smooth animation */
    transform-origin: top center;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    padding: 10px;
}

.btn-custom:hover {
    transform: scale(1.05);
    background-color: #b163e5;
    color: var(--white);
}

.btn-custom:active {
    transform: scale(0.95);
    /* override bootstrap css btn active properties with !important */
    background-color: #b163e5 !important;
    color: var(--white) !important;
}

/*  booking button styling */
.booking-btn {
    background-color: var(--blue);
}

.booking-btn:hover {
    transform: scale(1.05);
    background-color: #34dfbc;
    color: var(--white);
}

.booking-btn:active {
    transform: scale(0.95);
    /* override bootstrap css btn active properties with !important */
    background-color: #34dfbc !important;
    color: var(--white) !important;
    border: none;
}

.park-rules {
    text-align: left;
}

.park-rules li::marker {
    font-weight: bold;
    font-family: var(--title);
}

.vaccinations {
    font-size: 18px;
    font-family: var(--title);
}

/* gallery button styling */
.gallery-btn {
    background-color: var(--green);
}

.gallery-btn:hover {
    transform: scale(1.05);
    background-color: #3bd9534f;
    color: var(--white);
}

.gallery-btn:active {
    transform: scale(0.95);
    /* override bootstrap css btn active properties with !important */
    background-color: #3bd9534f !important;
    color: var(--white) !important;
    border: none;
}

/* home page */

.section-title {
    font-family: var(--title);
    font-weight: 700;
    font-size: xx-large;
}

/* dashed underline effect */
#about {
    display: inline-block;
    border-bottom: 10px dashed var(--orange);
    line-height: 3rem;
}

#visit {
    display: inline-block;
    border-bottom: 10px dashed var(--coral);
    line-height: 3rem;
}

#benefits {
    display: inline-block;
    border-bottom: 10px dashed var(--green);
    line-height: 3rem;
}

#auth {
    display: inline-block;
    border-bottom: 10px dashed var(--purple);
    line-height: 3rem;
}

#booking {
    display: inline-block;
    border-bottom: 10px dashed var(--blue);
    line-height: 3rem;
}

.section-img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-p {
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400;
    line-height: 2.5rem;
}

.section-p-rules {
    font-family: var(--title);
    font-size: 24px;
    font-weight: 600;
    line-height: 3rem;
}

.section-em {
    font-size: 22px;
}

.section-list {
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

#section-articles {
    color: var(--purple);
    font-weight: bold;
}

#section-signup {
    color: var(--orange);
    font-weight: bold;
}

#section-visit {
    color: var(--coral);
    font-weight: bold;
}

/* forms */

.form {
    width: 50%;
    margin: 1% auto;
    border-radius: 20px;
}

.btn-custom-form {
    background-color: #b163e5;
    background-size: cover;
    border-radius: 30px;
    font-family: var(--title);
    font-weight: 600;
    font-size: 28px;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s;
    /* transform point to assist smooth animation */
    transform-origin: top center;
}

.btn-custom-form:hover {
    background-color: #b163e5;
    color: var(--white);
}

.btn-custom-form:active {
    transform: scale(0.95);
    /* override bootstrap css btn active properties with !important */
    background-color: #b163e5 !important;
    color: var(--white) !important;
    border: none;
}

.btn-custom-search {
    border-radius: 15px;
    font-size: 20px;
}

.btn-custom-article {
    font-size: 22px;
}

/* Override crispy forms/bootstrap styling */
#id_first_name,
#id_last_name,
#id_email,
#id_dog_name,
#id_color,
#id_date,
#id_dog_name,
#id_color2 {
    text-align: center;
}

/* Auth/Articles form styling */
.form-control {
    background-color: #b163e52e;
    color: var(--black);
    border: none;
    border-radius: 20px;
}

.form-select {
    background-color: #b163e52e;
    border: none;
    border-radius: 20px;
}

.form-check .form-check-input {
    background-color: #b163e52e;
    color: var(--black);
    float: none;
    margin-left: -1.5em;
    margin-right: 1em;
}

.form-check-input {
    background-color: #b163e52e;
    color: var(--black);
    border: none;
}

/* Override browser text input prefill colour */
/* Webkit (Chrome, Safari) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #b163e54f inset !important;
    background-color: #ffffff !important;
    color: fieldtext !important;
}

/* Firefox */
input:-moz-autofill {
    -moz-box-shadow: 0 0 0 30px #b163e54f inset !important;
    background-color: #ffffff !important;
    color: fieldtext !important;
}

/* Microsoft Edge */
input:-ms-input-placeholder,
input:-ms-autofill {
    -ms-box-shadow: 0 0 0 30px #b163e54f inset !important;
    background-color: #ffffff !important;
    color: fieldtext !important;
}

input {
    text-align: center;
}

/* Selector for the 'Choose File' button */
input[type="file"]::file-selector-button {
    background-color: #b163e54f;
    color: #0d0d0d;
    border-radius: 8px 0 8px 0;
}

/* Booking section form styling */
.booking-section .form-control {
    background-color: #4ce0c24d;
}

.booking-section .form-select {
    background-color: #4ce0c24d;
}

.booking-section .form-check-input {
    background-color: #4ce0c24d;
}

/*  Booking section active field box */
/* Webkit (Chrome, Safari) */
.booking-section input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #4ce0c27c inset !important;
    background-color: #ffffff !important;
    color: fieldtext !important;
}

/* Firefox */
.booking-section input:-moz-autofill {
    -moz-box-shadow: 0 0 0 30px #4ce0c27c inset !important;
    background-color: #ffffff !important;
    color: fieldtext !important;
}

/* Microsoft Edge */
.booking-section input:-ms-input-placeholder,
.booking-sectioninput:-ms-autofill {
    -ms-box-shadow: 0 0 0 30px #4ce0c27c inset !important;
    background-color: #ffffff !important;
    color: fieldtext !important;
}

/* selector for the 'Choose File' button */
.booking-section input[type="file"]::file-selector-button {
    background-color: #4ce0c27c;
    color: #0d0d0d;
    border-radius: 8px 0 8px 0;
}

/* gallery section form styling */
.gallery-section .form-control {
    background-color: #3bd95342;
}

.gallery-section .form-select {
    background-color: #3bd95342;
}

.gallery-section .form-check-input {
    background-color: #3bd95342;
}

/*  Gallery section active field box */
/* Webkit (Chrome, Safari) */
.gallery-section input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #3bd95342 inset !important;
    background-color: #ffffff !important;
    color: fieldtext !important;
}

/* Firefox */
.gallery-section input:-moz-autofill {
    -moz-box-shadow: 0 0 0 30px #3bd95342 inset !important;
    background-color: #ffffff !important;
    color: fieldtext !important;
}

/* Microsoft Edge */
.gallery-section input:-ms-input-placeholder,
.gallery-section input:-ms-autofill {
    -ms-box-shadow: 0 0 0 30px #3bd95342 inset !important;
    background-color: #ffffff !important;
    color: fieldtext !important;
}

/* selector for the 'Choose File' button */
.gallery-section input[type="file"]::file-selector-button {
    background-color: #3bd95342;
    color: #0d0d0d;
    border-radius: 8px 0 8px 0;
}

/* article icons */
.add-article-btn {
    width: 88px;
    height: 92px;
}

.article-title {
    font-weight: bold;
    margin-right: 40px;
}

.like-icon {
    width: 30px;
    height: 30px;
    margin: 6px;
}

.like-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.comment-icon {
    width: 30px;
    height: 30px;
    margin: 6px;
}

.like-num {
    font-weight: bold;
    color: var(--black);
}

.article-object-title {
    font-size: x-large;
}

.pagination {
    margin-top: 20px;
}

.page-arrow {
    width: 50px;    
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
}

.page-link {
    border-radius: 30px;
    border: none;
    background-color: none;
}

/* article 'cards' */

.author {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: bold;
}

.article-img {
    border-radius: 20px;
    object-fit: cover;
    height: 400px;
    width: 550px;
}

.card {
    --bs-card-border-width: 0px;
    position: relative;
    border: none;
}

.card-img-top {
    position: relative;
    z-index: 2;
    border-radius: 40px;
    object-fit: cover;
    height: 337px;
    width: 100%;
}

.jumboimage {
    height: 400px;
    width: 650px;
    overflow: hidden;
}

.overlay-card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #b163e52e;
    z-index: 1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    pointer-events: none;
}

/* alert messages */

.alert-dismissible .btn-close {
    padding: 0.8rem 1rem;
}

.debug-alert {
    background-color: #c79be4;
    border: 1px solid var(--purple);
    border-radius: 4px;
    padding: 10px;
}

.info-alert {
    background-color: #ebc275;
    border: 1px solid var(--orange);
    border-radius: 4px;
    padding: 10px;
}

.success-alert {
    background-color: #7ad187;
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 10px;
}

.warning-alert {
    background-color: #9deede;
    border: 1px solid var(--blue);
    border-radius: 4px;
    padding: 10px;
}

.error-alert {
    background-color: #ee8a8a;
    border: 1px solid var(--coral);
    border-radius: 4px;
    padding: 10px;
}

.alert-danger {
    background-color: #ee8a8a;
    border: 1px solid var(--coral);
    border-radius: 4px;
    padding: 10px;
}

/* profile */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    border: 10px solid var(--blue);
    width: 250px;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

p {
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400;
    line-height: 2.5rem;
}

.profile-strong {
    font-size: 26px;
}

.profile-articles {
    max-height: 200px;
    overflow-y: auto;
}

/* booking */

.add-booking-btn {
    height: 100px;
    width: 100px;
}

.booking-p {
    font-size: 20px;
}

tr {
    background-color: #4ce0c24f;
}

.table {
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    border-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
}

.message-box {
    border-radius: 20px;
    background-color: #4ce0c27a;
    padding: 10px;
}

/* images */

#dogpark_lady {
    border-radius: 20px;
    height: 450px;
    width: 300px;
}

.carousel-inner {
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
}

.profile-img {
    border-radius: 50px;
}

.image-container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.image-container-article {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.gallery-image {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .image-overlay {
    opacity: 1;
}

.image-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.image-info {
    font-size: 16px;
    line-height: 1rem;
}

.add-photo-btn {
    display: inline-block;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s;
    /* transform point to assist smooth animation */
    transform-origin: top center;
}

.add-photo-btn:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.add-photo-btn:active {
    transform: scale(0.95);
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 3px;
    background: none;
    border: none;
    cursor: pointer;
}

.icon-delete-btn {
    display: inline-block;
    border: none;
    height: 44px;
    width: 44px;
    padding: 0;
    background: none;
    cursor: pointer;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s;
    /* transform point to assist smooth animation */
    transform-origin: top center;
}

.icon-delete-btn:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.icon-delete-btn:active {
    transform: scale(0.95);
}

/* Confirm delete modal */
.modal-photo {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-photo-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: auto;
    text-align: center;
    border-radius: 30px;
}


/* media queries */

@media (max-width: 1300px) {

}

/* hamburger menu to center under logo on mobile */
@media (max-width: 1025px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

    .nav-icons {
        height: 50px;
        width: 50px;
    }

    .nav-logo {
        height: 80px;
        width: auto;
        margin-left: 20px;
    }


    .hero-image {
        padding: 20px;
    }

    .article-container {
        overflow: hidden;
    }

    .footer-img {
        width: 130%;
        overflow: hidden;
    }

}

/* tablet/large mobile media queries */
@media (max-width: 768px) {
    .social-icon {
        height: 1.25rem;
        margin: .75rem;
    }

    /* .mobile-articles {
        margin-right: 40px;
    } */

    .card-text {
        font-size: 14px;
    }
    
    /* Mobile tooltip for icon accessibility */
    .nav-link-mobile {
        position: relative;
        font-family: var(--main-font);
    }

    .nav-link-mobile:hover::after {
        content: attr(title);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #b163e5;;
        color: #fff;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 15px;
        font-size: 0.8rem;
        white-space: nowrap;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
        z-index: 2;
    }

    .nav-link-mobile:hover::after {
        visibility: visible;
        opacity: 1;
    }

    .footer-img {
        width: 200%;
        overflow: hidden;
    }


}

/* mobile media queries */
@media (max-width: 576px) {

    .profile-info,
    .profile-details {
        flex-direction: column;
    }

    .profile-picture {
        margin-bottom: 1rem;
        margin-right: auto;
        margin-left: auto;
    }

    .section-p {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .section-img {
        padding: 15px;
        border-radius: 40px;
    }

    .section-list,
    .section-em,
    .mobile-edit-article {
        font-size: 18px;
    }

    .btn-custom-form {
        font-size: 22px;
    }

    .article-img {
        height: 345px;
        width: 345px;
    }

    .article-details {
        font-size: 18px;
    }

    footer {
        margin-top: 120px;
    }

    .footer-img {
        width: 200%;
        overflow: hidden;
    }

}