{% load static %}
<footer>
    <div class="w-100 footer-bg">
        <!-- Social Media links -->
        <div class="hours">
            <h5 class="hours-title">Opening Hours</h5>
            <p>Everyday: 8am to 8pm</p><br>
        </div>
        <div class="social">
            <a href="" target="blank" rel="noopener" aria-label="Facebook-opens in a new tab">
                <img src="{% static '/icons/facebook.png' %}" alt="Facebook Icon" class="social-icon">
            </a>
            <a href="" target="blank" rel="noopener" aria-label="Twitter-opens in a new tab">
                <img src="{% static '/icons/twitter.png' %}" alt="Twitter Icon" class="social-icon">
            </a>
            <a href="" target="blank" rel="noopener" aria-label="LinkedIn-opens in a new tab">
                <img src="{% static '/icons/linkedin.png' %}" alt="LinkedIn Icon" class="social-icon">
            </a>
            <a href="" target="blank" rel="noopener" aria-label="Github-opens in a new tab">
                <img src="{% static '/icons/github.png' %}" alt="Github Icon" class="social-icon">
            </a>
        </div>
    </div>
</footer>