{% load static %}

<header>
    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Navbar items -->
            <div class="logo">
                <!-- Logo -->
                <a class="navbar-brand" href="{% url 'home' %}"><img class="nav-logo"
                        src="{% static 'images/ff_logo.png' %}" alt="freefido logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse nav-items" id="navbarNav">
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'profile' %}active{% endif %}" href="{% url 'profile' request.user.id %}" title="Profile"><img
                                class="nav-icons" src="{% static 'icons/profile.png' %}" alt="profile icon"></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'articles' %}active{% endif %}" href="{% url 'articles' %}" title="Articles"><img
                                class="nav-icons" src="{% static 'icons/articles.png' %}" alt="articles icon"></a>
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                        <a class="nav-link {% if url_name == 'booking_home_page' %}active{% endif %}" href="{% url 'booking_home_page' %}"
                            title="Booking">
                            <img class="nav-icons" src="{% static 'icons/book.png' %}" alt="booking icon">
                        </a>
                        {% else %}
                        <a class="nav-link" href="{% url 'account_login' %}?next={% url 'booking_home_page' %}" title="Booking">
                            <img class="nav-icons" src="{% static 'icons/book.png' %}" alt="booking icon">
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'gallery' %}active{% endif %}" href="{% url 'gallery' %}" title="Gallery"><img
                                class="nav-icons" src="{% static 'icons/gallery.png' %}" alt="gallery icon"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'visit_us' %}active{% endif %}" href="{% url 'visit_us' %}" title="Visit Us"><img
                                class="nav-icons" src="{% static 'icons/visit_us.png' %}" alt="visit icon"></a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}" href="/accounts/logout/" title="Logout"><img class="nav-icons" src="{% static 'icons/logout.png' %}" alt="logout icon"></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}" href="/accounts/login/" title="Log In"><img
                                class="nav-icons" src="{% static 'icons/login.png' %}" alt="login icon"></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- search bar form only when article appears in url -->
            {% if 'article' in url_name %}
            <div>
                <form class="d-flex ml-auto" role="search" action="{% url 'articles' %}">
                    <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-custom btn-custom-search" type="submit">Fetch!</button>
                </form>
            </div>
            {% endif %}
        </div>
    </nav>
    {% endwith %}
</header>