{% load static %}

<header>
    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="logo">
                <!-- Logo -->
                <a class="navbar-brand" href="#">FreeFido</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Navbar items -->
            <div class="collapse navbar-collapse nav-items" id="navbarNav">
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}"
                            href="/accounts/logout/">Logout</a>
                    </li>
                    {% else %}
                    <!-- <li class="nav-item">
                        <a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}" href="/accounts/signup/">Register</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}"
                            href="/accounts/login/">Login</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'articles' %}active{% endif %}"
                            href="{% url 'articles' %}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'booking' %}active{% endif %}" href="#">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'gallery' %}active{% endif %}" href="{% url 'gallery' %}">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'find_us' %}active{% endif %}"
                            href="{% url 'visit_us' %}">Visit Us</a>
                    </li>

                </ul>
            </div>
            <!-- search bar form -->
            {% if url_name == 'articles' %}
            <div>
                <form class="d-flex ml-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
            {% endif %}
        </div>
    </nav>
    {% endwith %}
</header>