{% extends 'base.html' %}

{% load static %}

{% block title %}Visit Us{% endblock %}

{% block content %}


<div class="container my-4 text-center">
    <h1 class="section-title" id="visit">Visit Us</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div>
                <img class="img-fluid rounded-lg img-shadow" src="{% static 'images/dogpark_lady.png' %}" alt="dogpark lady"
                    id="dogpark_lady">
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <div class="text-center mb-4">
                <p class="section-p"><strong>Find us here:</strong></p>
                <p class="section-p">Lough Derravaragh,<br>Gartlandstown,<br>Co.Westmeath,<br>Ireland</p>
                <p class="section-p"><strong>Opening Hours:</strong></p>
                <p class="section-p">Everyday: 8am to 8pm</p>
            </div>
        </div>
        <!-- embeded google map -->
        <div class="col-md-4 d-flex justify-content-center">
            <div>
                <iframe id="map" class="img-shadow"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8097.083242397178!2d-7.293373391259297!3d53.618024063610626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485de92b3e0bb5f1%3A0x6ef89fed06acabf5!2sLough%20Derravaragh%20Car%20Park!5e1!3m2!1sen!2sie!4v1687117763148!5m2!1sen!2sie"
                    style="border:0; height: 450px; width: 350px; border-radius: 20px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>




{% endblock %}