{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="mx-auto m-4">
    <h1 class="text-center">Visit Us</h1>
</div>

<div class="container mt-10">
    <div class="row">
        <div class="col-md-6 order-md-1">
        </div>
        <div class="col-md-3">
            <div class="d-flex justify-content-center align-items-center">
                <img class="img-fluid rounded-lg" src="{% static 'images/dogpark_lady.png' %}" alt="dogpark lady">
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <p><strong>Find us here:</strong></p>
                <p>800-898 27th St,<br>San Francisco,<br>CA 94131,<br>United States</p>
                <p><strong>Opening Hours:</strong></p>
                <p>Mon-Fri: 8am to 8pm<br>Sat-Sun: 8am to 7pm</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <iframe id="map" class="h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.8667377153815!2d-122.44062742439523!3d37.74627047199259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e7323fa368b%3A0x57d0cb7084b43b3d!2s800%2027th%20St%2C%20San%20Francisco%2C%20CA%2094131%2C%20USA!5e0!3m2!1sen!2sie!4v1684595614109!5m2!1sen!2sie"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>



{% endblock %}