{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="section-title" id="auth">{% trans "Sign Up" %}</h1>

    <p class="my-3">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="special-anchor">sign in</a>.{% endblocktrans %}
    </p>

    <form class="form p-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-custom-form mt-4">Register</button>
    </form>
</div>
{% endblock %}