{% extends 'base.html' %}

{% load static %}

{% block title %}Articles{% endblock %}

{% block content %}

<div class="container my-4 text-center">
    <div class="row align-items-center">
        <div class="col-md-6 offset-md-3">
            <h1 class="section-title mb-4" id="auth">Articles</h1>
        </div>
        <!-- If user is logged in, show Add Article icon -->
        <div class="col-md-3 text-md-end">
            {% if user.is_authenticated %}
            <a href="{% url 'article_create' %}" class="my-5" title="Add an Article">
                <img src="{% static '../static/icons/add_article.png' %}" alt="add article"
                    class="add-photo-btn add-article-btn">
            </a>
            {% endif %}
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row justify-content-center mx-auto">
        <!-- Articles entered col -->
        <div class="col-12 mt-3">
            <!-- Display text when no articles present, control grid sizing when pagination occurs leaving 1 article on next page -->
            <div class="row justify-content-center">
                {% if article_list|length == 0 %}
                <div class="col-12 text-center">
                    <p class="section-p">No articles found.</p>
                    <div class="mb-3 mx-auto text-center">
                        <a href="{% url 'articles' %}" class="btn btn-custom my-3">Back to Articles</a>
                    </div>
                </div>
                {% else %}
                {% for article in article_list %}
                {% if article_list|length == 1 %}
                <div class="col-12">
                    {% else %}
                    <div class="col-12 col-sm-6 col-md-4">
                        {% endif %}
                        <div class="card mb-4">
                            <div class="image-container-article">
                                <a href="{% url 'article_page' article.slug %}" class="article-link"></a>
                                {% if "placeholder" in article.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/placeholder_img.png' %}"
                                    alt="leaves pattern placeholder image in purple and white">
                                {% else %}
                                <img class="card-img-top" src="{{ article.featured_image.url }}" alt="">
                                {% endif %}
                                <div class="card-body">
                                    <a href="{% url 'article_page' article.slug %}" class="article-link">
                                        <h2 class="card-title special-anchor-article my-2">{{ article.title }}</h2>
                                    </a>
                                    <p class="card-text h6">{{ article.created_on }} <img
                                            src="{% static 'icons/heart.png' %}" class="like-icon"
                                            alt="pawprint heart like icon">
                                        {{ article.number_of_likes }}</p>
                                </div>
                                <div class="overlay-card"></div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Site pagination code for page navigation from Django ListView -->
    {% if is_paginated %}
    <div class="justify-content-center">
        <nav aria-label="Page navigation" class="mx-auto">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                        <img class="page-arrow" src="{% static 'icons/prev.png' %}" alt="previous">
                    </a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                        <img class="page-arrow" src="{% static 'icons/next.png' %}" alt="next">
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}

    {% endblock %}