{% extends 'base.html' %}  

{% load static %}

{% block title %}Delete Article{% endblock %}

{% block content %}


<div class="container text-center">
    <h1 class="text-center my-3 section-title" id="auth">Confirm Article Deletion</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="post" class="text-center">
            {% csrf_token %} 
            <p>Are you sure you want to delete this article "<strong class="article-object-title">{{object.title}}</strong>"?</p>
            <input type="submit" class="btn btn-custom my-3"value="Confirm">
        </form>
    </div>
    <div class="mb-3 mx-auto text-center">
        <a href="{% url 'home' %}" class="btn btn-custom my-3">Take me home</a>
    </div>
</div>

{% endblock %}
