{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Articles entered col -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for article in article_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in article.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/placeholder_img.png' %}"
                                    alt="leaves pattern placeholder image in purple and white">
                                {% else %}
                                <img class="card-img-top" src="{{ article.featured_image.url }}" alt="">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ article.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'article_page' article.slug %}" class="article-link">
                                <h2 class="card-title">{{ article.title }}</h2>
                                <p class="card-text">{{ article.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-mutd h6">{{ article.created_on }} <img
                                    src="{% static 'icons/heart.png' %}" class="like-icon"
                                    alt="pawprint heart like icon">
                                {{ article.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Site pagination code for page navigation from Django ListView -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<div class="container text-center">
    {% if user.is_authenticated %}
    <a href="{% url 'article_create' %}" class="btn btn-primary add-article-btn">
        Add Article
    </a>
    {% endif %}
</div>
{% endblock %}