{% extends 'base.html' %}

{% load static %}

{% block title %}Article - {{article.title}}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}



<div class="jumbotron jumbotron-fluid">
    <div class="container article-container">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="d-flex align-items-center mt-5">
                <h1 class="article-title">{{ article.title }}</h1>
                {% if request.user == article.author %}
                    <a href="{% url 'article_edit' article.slug %}" class="btn btn-link" title="edit article"><img
                            src="{% static '../static/icons/edit_profile.png' %}" alt="edit article" class="icon-delete-btn"></a>
                    <a href="{% url 'article_delete' article.slug %}" class="btn btn-link" title="delete article"><img
                            src="{% static '../static/icons/delete_article.png' %}" alt="delete article" class="icon-delete-btn"></a>
                {% endif %}
                </div>
                <p class="article-details">{{ article.author }} | {{ article.created_on }}</p>
                <p class="article-excerpt"><em>{{ article.excerpt }}</em></p>
            <div class="col-md-6 jumboimage">
                {% if "placeholder" in article.featured_image.url %}
                <img src="{% static 'images/placeholder_img.png' %}" class="article-img" width="100%">
                {% else %}
                <img src=" {{ article.featured_image.url }}" class="article-img" width="100%">
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <p class="card-text ">
                    <!-- safe filter to tell Django to treat the content as HTML and render the content as is -->
                    {{ article.content | safe }}
                </p>
                <div class="row">
                    <div class="col-4">
                        <div class="d-flex flex-row flex-md-column">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'article_like' article.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="articlelike_id" value="{{post.slug}}" class="like-button">
                                    <img src="{% static 'icons/heart.png' %}" class="like-icon"
                                        alt="pawprint heart like icon">
                                </button>
                                {% else %}
                                <button type="submit" name="articlelike_id" value="{{post.slug}}" class="like-button">
                                    <img src="{% static 'icons/heart_outline.png' %}" class="like-icon"
                                        alt="pawprint heart outline like icon">
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="like-icon"><img src="{% static 'icons/heart.png' %}" class="like-icon"
                                    alt="pawprint heart outline like icon"></span>
                            {% endif %}
                            <span class="like-num"> {{ article.number_of_likes }}</span>
                        </strong>
                        </div>
                    </div>
                    <div class="col-4">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><img src="{% static 'icons/bark.png' %}" class="comment-icon"
                                alt="dog bark comment icon">
                            <span class="like-num"> {{ total_comments }}</span></strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3 class="section-title">Comments:</h3>
            <div class="card-body">
                <!-- Iterate through comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- linebreaks filter for better readability -->
                    {{ comment.body | linebreaks }}

                    {% if request.user.username == comment.name %}
                    <div class="text-center">
                        <a href="{% url 'comment_delete' comment.id %}" class="btn btn-link"><img src="{% static '../static/icons/delete_booking.png' %}" alt="delete article" class="icon-delete-btn"></a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}

                {% if user.is_authenticated %}
                <h3 class="section-title">Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" class="">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-custom my-3">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}