{% extends 'base.html' %}

{% load static %}

{% block title %}Add an Article{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container text-center">
    <!-- enctype for file upload to cloudinary -->
    <form method="POST" enctype="multipart/form-data" class="p-1 w-75 form">
        <h1 class="text-center section-title my-5" id="auth">Add Article</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-custom-form mt-2">Submit</button>
        </div>
    </form>
</div>


{% endblock %}